.image{
    max-height: 25rem;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

  .postImage {
    max-height: 25rem;

  }
}


.content{
  max-width: 720px;
  margin: 3rem auto 0;

  h1{
    color: var(--title);
    font-size: 3rem;
  }

  .info{
    display: flex;
    align-items: center;


    margin-top: 0.5rem;

    p{
      color: var(--info);
      font-size: 0.875rem;
      &+p{
        margin-left: 1rem;
      }
    }
  }
}

.post{
  margin-top: 3rem;
  color: var(--content);
  h1{
    color: var(--title);
  }

  p{
    margin-top: 1.3rem;
  }

  strong{
    font-weight: 700;
  }
}

.changePost {
  display: flex;
  justify-content: space-between;

  padding-top: 5rem;
  margin-top: 3rem;
  margin-bottom: 4.5rem;
  border-top: 1px solid #D7D7D7;

  p{
    font-size: 1.125rem;
    color: var(--title);
    margin-bottom: 0.3rem;
  }

  a{
    font-weight: 600;
  }

  div {
    display: flex;
    flex-direction: column;
  }

}

.previousPost{
  a{
    color: var(--highlight);
  }
}

.nextPost{
  align-self: flex-end;
  color: var(--highlight);
}
